body>header {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
   background-color: black;
   color: white;
   user-select: none;
}

body>header>h1 {
   display: inline-block;
   font-size: 35px;

   margin-top: 5px;
   margin-left: 50px;
   margin-right: 5px;
}

body>header>div.icon {
   position: absolute;

   background-image: url("./favicon.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   aspect-ratio: 1/1;
   height: 30px;

   display: inline-block;
   margin-top: 15px;
   margin-left: 10px;
}

body>header>h1.hover {
   color: rgb(180 180 180);
}

body>header>div.link {
   display: inline-block;
   font-size: 20px;
   margin-left: 5px;
}

body>header>div.link.hover {
   color: rgb(180 180 180);
   cursor: pointer;
}

body>nav {
   position: absolute;
   top: 50px;
   bottom: 0px;
   left: 0px;
   width: 200px;
}